/* B O D Y */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* H E A D E R */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.navigation {
  background: #fff;
  display: flex;
  align-items: center;
}
.navigation-studio {
  font-family: "Roboto", sans-serif;
}
.navigation-logotip {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.navigation-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.navigation-text:hover,
.navigation-text:focus {
  color: #404bbf;
}
.link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.transition {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info {
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
}
.info-list {
  display: flex;
  gap: 40px;
}

.my-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.my-info:hover,
.my-info:focus {
  color: #404bbf;
}
/*S E C T O N 1  */
.effect {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-color: #2e2f42;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}
.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
}
.btn {
  cursor: pointer;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.process {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
/* S E C T I O N 2 */
.our-activity {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.activity {
  display: flex;
  gap: 24px;
}
.acctivity-list {
  flex-basis: calc((100% - 72px) / 4);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.icon-activity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.activity-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.activity-story {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* S E C T I O N 3 */
.people {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.process {
  margin-bottom: 72px;
}
.team-work {
  background-color: #ffffff;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-foto {
  background: url("path_to_image");
}
.team-work {
  flex-basis: calc((100% - 72px) / 4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #f4f4fd;
}
.div-team {
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.team-work-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-work-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.icon-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.icon-team-item {
  width: 40px;
  height: 40px;
}
.icon-team-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-img:hover,
.icon-team-img:focus {
  background-color: #404bbf;
}
.icon-team-svg {
  fill: #f4f4fd;
}
/* S E C T I O N 4 */
.our-portfolio {
  padding: 120px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
  border-radius: 4px;
  background: #fff;
}
.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.div-portfolio {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.portfolio-foto {
  background: url("path_to_image");
}
.overlay-div {
  position: relative;
  overflow: hidden;
}
.overlay-paragraf {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .overlay-paragraf {
  transform: translateY(0);
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-working {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* F O O T E R */
.keller {
  background: #2e2f42;
  padding: 100px 0;
}
.keller-div {
  display: flex;
  align-items: baseline;
}
.keller-logo-div {
  margin-right: 120px;
}
.keller-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.keller-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.keller-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.div-social {
  width: 208px;
  height: 80px;
}
.keller-social-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.keller-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 208px;
  height: 40px;
}

.footer-img:hover,
.footer-img:focus {
  background-color: #31d0aa;
}
.keller-form-div {
  margin-left: 80px;
}
.keller-form-paragraf {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.keller-form {
  display: flex;
  gap: 24px;
}
.keller-label {
}
.keller-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.keller-input::placeholder {
  color: #ffffff;
}
.keller-form-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.keller-form-svg {
  margin-left: 16px;
  fill: #ffffff;
}
/* M O D A L */
.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
}
button:hover > svg,
button:focus > svg {
  fill: #ffffff;
}

.close-btn-svg {
  fill: #2e2f42;
  color: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
}
.modal-form-div {
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-icon-div {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
}
input:checked + label > span {
  background: #404bbf;
  fill: #f4f4fd;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-svg {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-svg,
.modal-input:hover + .modal-input-svg {
  fill: #4d5ae5;
}
.modal-form-div-comment {
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
}
.modal-textarea {
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.checkbox-div {
  margin-bottom: 24px;
}

.input-checkbox {
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
}
.modal-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-link {
  color: #4d5ae5;
}
.form-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
